:root {
  --primary-color: #686dffa8;
}

/* Utilities */
.text-justify {
  text-align: justify;
}

.brandLogo {
  width: 1.5rem;
}

.cardImg {
  width: 100%;
}
.userIcon {
  width: 1.75rem;
  max-height: 1.75rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
.btnPrimary {
  background-color: var(--primary-color);
  border: none;
  font-weight: 700;
  border-radius: 0.5rem;
}
.cardBtn {
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: var(--primary-color);
  border: none;
  font-weight: 700;
  width: 100%;
}

.detailsImg {
  width: 100%;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  /* Utilities */
  .cardImg {
    width: 100%;
    min-height: 20rem;
    object-fit: cover;
  }

  .detailsImg {
    width: 100%;
    min-width: 40rem;
  }

  .min-card-height {
    min-height: 36rem;
  }
}
